@import '../colors';
.sidebar{
  width: 90px;
  height: 100vh;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  row-gap: 25px;
  &__image{
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  &__menu{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &__square{
    position: relative;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    font-size: 22px;
    border: 1px solid $gray;
    background: $white;
    color: gray;
    margin: 10px 0;
    transition: 0.2s ease-in-out;
    overflow: hidden;

    &--name{
      position: absolute;
      font-size: 14px;
      width: fit-content;
      left: 149%;
      background: $verde;
      padding: 5px 8px;
      border-radius: 5px;
      color: $amarillo;
    }
    &:hover{
      background: $verde;
      color: $amarillo;
      overflow: visible;
    }
  }
}