.popup {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #00000050;
  z-index: 98;
  &__container {
    width: 80vw;
    max-width: 400px;
    height: fit-content;
    background: white;
    z-index: 999;
  }
}
