@import '../mixins';
.recipes {
  display: grid;
  row-gap: 20px;
  min-width: 400px;
  width: 100%;
  height: fit-content;
  padding: 30px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    overflow: auto;
  }
  .show__all {
    @include show-all-btn;
  }
}
