@import "../mixins";
.recipes{
  display: grid;
  row-gap: 20px;
  min-width: 400px;
  height: fit-content;
  padding: 30px;
  overflow: hidden;

  &__header{
    display: flex;
    justify-content: space-between;
  }
  
  &__list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-height: 250px;
  }
  .show__all{
    @include show-all-btn;
  }
}
