@import '../colors.scss';

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;

  .login {
    display: flex;
    flex: 1;
    align-self: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    letter-spacing: 1.1px;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
.sign {
  .login {
    order: 0;
  }
  .image-login {
    order: 1;
  }
}
.register {
  .login {
    order: 1;
  }
  .image-login {
    order: 0;
  }
}

.container-login {
  padding: 120px 60px;
}
.image-login {
  flex: 1;
  background: linear-gradient(0deg, #1c4430, #1c4430);
  width: 100%;
  height: 100%;
}
input {
  padding: 0.5em;
  margin: 0.5em;
}
.checkbox {
  margin-left: 10px;
}
.checkbox,
.login,
.login-or-register {
  display: flex;
}
.login-or-register {
  margin: 2em;
}
.image-login.avocado {
  background-image: url("../../assets/images/avocado.gif");
}
.image-login.running {
  background-image: url("../../assets/images/running.gif");
}
.avocado,
.running {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.message {
  font-size: 40px;
  text-align: center;
  margin: 0.5em;
}

.login_inputs {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

@media (max-width: 1060px) {
  .image-login {
    display: none;
  }
  .container {
    display: block;
    width: 100vw;
    height: 100vh;
    top: 50%;
    .container-login {
      width: inherit;
    }
  }
}

.containerUsers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  height: auto;

  .user-card {
    width: 100px;
    background-color: #222;
    color: #fff;
  }
}

.changeMode {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-evenly;
  left: 80px;
  top: 30px;
  transition: font-size 0.7s;

  &:hover {
    cursor: pointer;
    color: #132e20;
    transition: font-size 0.7s;
    p {
      font-size: 23px;
      font-weight: 400;
      transition: font-size 0.7s;
    }
  }
  #icon-left {
    font-size: 30px;
    flex-grow: 1;
  }
  p {
    font-size: 22px;
    font-weight: 350;
    flex-grow: 2;
    margin: 20px 0px 20px 16px;
  }
}

.errorFirebase {
  background-color: $rojo;
  color: #fff;
  font-size: 20px;
  
}
