//ESTILOS GENERALES

.container,.image-login,.login,.or{
 align-items: center;
 justify-content: center;
}
.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  color: #000;

  .login{
    width: 100%;
    height: 100%;
    letter-spacing: 1.1px;
  }
 
}
.container-login{
  padding: 1em;

}
.image-login{display: none;
 background: linear-gradient(0deg, #1C4430, #1C4430);
 width: 100%;
 height: 100%;
 
 
}
input{
 background-color: rgba(255, 255, 255, 0.869);
 padding: .5em;
 border-radius: 5px;
 margin: .5em;
 border-color: #222;
}
.checkbox,.login,.login-or-register{
 
 display: flex;
 flex-direction: column;
 
}



.login-or-register{
 margin: 2em;
}
.image-login{
 background-image: url("../../assets/images/image-login.png");
 background-size: cover;
 background-position:center;
 background-repeat: no-repeat;
 }


@media (max-width: 760px){
.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 50%;
  .container-login{

  width: inherit;
  }
  }
}
