@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* DECLARACION DE FUENTES */
$font-family: 'Roboto Condensed', sans-serif;

@mixin h1-fonts {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}

@mixin h2-fonts {
  font-family: $font-family;
  font-style: normal;
  font-weight: 650;
  font-size: 18px; 
}

@mixin p-fonts {
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 14px; 
}

@mixin btn-fonts {
  font-family: $font-family;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
}
