@import './_colors';
@import './_fonts';
@import 'mixins';
body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
p {
  @include p-fonts;
}
h1 {
  @include h1-fonts;
}
h2 {
  @include h2-fonts;
}

.dashboard__title {
  font-size: 22px;
  font-weight: 500;
}
