
label{
  margin: block;
  text-transform:capitalize;
  margin: 1em;
}

label > .error{
  border-color: rgb(160, 2, 36);
}
label > .correcto{
  border-color: #1C4430;
}
span {
  font-size: 18px;
  font-weight: 250;
}

.input{
  position: relative;
  display:flex;
  align-items: center;
  width: 100%;
  max-height: 64px;

  padding: 12px 20px 12px 20px;
  background-color: #ffffff;
  border: .5px solid #8692A6;
  margin: 10px 0;
 
  input{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
  }
  .delete {
    max-width: 25px;
    font-size: 25px;
    color: rgb(160, 2, 36);
    cursor: pointer;
  }
  .check {
    max-width: 25px;
    font-size: 25px;
    color: rgb(2, 160, 10);
  }
  .icon-password {
    position: absolute;
    cursor: pointer;
    right: -10px;
    top: -10px;
    max-width: 25px;
    font-size: 25px;
    padding: 3px;
    border-radius: 50%;
    background-color: #fff;
    border: .5px solid black;
    color: black;
    &:hover {
      background-color: black;
      color: #fff;
    } 

  }
  .msgError {
    position:absolute;
    top: -10px;
    right: 30px;
    background-color: #ffffff;
    color: red;
    border: .6px solid red;
    padding: 2px;
    border-radius: 5px;
  }
}
button{
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 500;
  border: none;
  background-color: #1C4430;
  margin: 10px auto;
    color: #fff;
}
