
label{
  display: block;
  text-transform:capitalize;
  margin: 1em;
}

label > .error{
  border-color: rgba(255, 0, 0, 0.485);
}

p {
  margin: 2em;
  text-align: center;
}
.input{
  position: relative;
  width: 100%;
  max-height: 64px;
  padding: 8px 17px 8px 17px;
  display:flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 6px;
  border: .5px solid #8692A6;
  margin: 1.2em 0;
 
  input{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bolder;
  }
  .icon-password {
    max-width: 20px;
    font-size: 20px;
    color: black;
    &:hover {
      cursor: pointer;
    }
  }
  .msgError {
    position:absolute;
    top: -10px;
    right: 30px;
    background-color: #ffffff;
    color: red;
    border: .6px solid red;
    padding: 2px;
    border-radius: 5px;
  }
}
button{
  display: flex;
  justify-content: center;
  width: 180px;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: #1C4430;
  border-radius:5px;
  margin: 10px auto;
    color: #fff;
}
