nav {
  display: flex;

  position: fixed;
  padding: 0 50px;
  width: 100%;
  height: 70px;
  text-align: left;
  background: #3a33a0;
}

nav h1 {
  text-transform: uppercase;
  color: #fff;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
nav ul li {
  font-size: 18px;
  text-align: center;
}
