.dashboard__home{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  justify-content: space-evenly;
}

@media (min-width: 950px) {
  .dashboard__home{
    display: grid;
    grid-template-columns: minmax(500px, 1fr) minmax(300px, 500px);
    grid-template-rows: 1fr 1fr;
  }
}