.dashboard__home{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100vh;
  min-height: 100%;
  overflow: auto;
  justify-content: space-evenly;
}

@media (min-width: 950px) {
  .dashboard__home{
    display: grid;
    grid-template-columns: minmax(300px, 480px) minmax(500px, 1fr);
  }
}